<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>
      Anothers Treasure
    </h1>

    <nav>
      {{#if logged_in}}
      <button class="btn" id="homepage"><a href="/">home</a></button>
      <button class="btn" id="logout"><a href="/">logout</a></button>
      <button class="btn" id="profile"><a href="/profile">profile</a></button>
      {{else}}
      <button class="btn" id="login"><a href="/login">login</a></button>
      {{/if}}
    </nav>

  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>

  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
