<!-- <div class="container">
   <form action="/search" class="search-bar" method="GET">
    <input type="text" placeholder="Location/Zip" name="q">
    <input type="button" name="search-button" id="search-button" value="Search">
  </form>
</div> -->
<h1 class="anothersTreasure">Another's Treasure</h1>
<h1>Posts</h1>

<ul>
  {{#each posts as |post| }}
  <li>
    <!-- Corrected href, renamed, and removed contenteditable -->
    <a href="/posts/{{post_id}}">
      <h2>{{post.title}}</h2>
      <p>{{post.description}}</p>
    </a>
  </li>
  {{else}}
  <li>No posts found.</li>
  {{/each}}
</ul>