<div class="container">
  <form action="" class="search-bar">
    <input type="text" placeholder="Location/Zip" name="q">
    <input type="button" name="search-button" id="search-button" value="Search">
  </form>
</div>

<ul>
  {{#each posts as |post| }}
  <li>
    <!-- Corrected href, renamed, and removed contenteditable -->
    <a href="/posts/{{post_id}}">
      <h2>{{post.title}}</h2>
      <p>{{post.description}}</p>
    </a>
  </li>
  {{/each}}
</ul>