<h1>{{ title }}</h1>
<a class="">
<p class="p-posts">{{ description }}</p>
<p>Written by {{ user.name }}</p>
</a>
{{!-- <p>Likes: {{ likes }}</p> --}}
{{!-- will add the likes feature once we have that working --}}

