<div class="bigStickyNote">
<h1 class="post-title">{{ title }}</h1>
<p class="post-description">{{ description }}</p>
</div>
<div>
    <a href="mailto:{{user.email}}">contact owner</a>
</div>

{{!-- <p>Likes: {{ likes }}</p> --}}
{{!-- will add the likes feature once we have that working --}}